.level-page {
  padding: 130px 20px 20px;
  display: flex;
  justify-content: center;
  position: relative;
  .level-list {
    display: flex;
    gap: 15px;
    padding-bottom: 50px;

    .card {
      width: unset;
      display: flex;
      gap: 15px;
      &.disabled {
        cursor: default;
      }

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }

      &.active {
        border: 0.6px solid rgba(255, 255, 255, 1);
      }
      &.disabled {
        opacity: .5;
      }

      .title {
        font-size: 24px;
        line-height: 17px;
        font-weight: 500;
      }

      .item {
        align-items: center;
        display: flex;
        gap: 10px;
        span {
          font-size: 14px;
          line-height: 17px;
        }
      }
      .price-item {
        color: transparent;
        background-clip: text;
        svg {
          height: 15px;
          width: 14px;
        }
      }
      .member {
        background-image: linear-gradient(
                        to top,
                        #F1C396 100%,
                        #CD7B2E 0%
        );
      }
      .supporter {
        background-image: linear-gradient(
                        to top,
                        #F7F066 100%,
                        #E6C13E 0%
        );
      }
      .believer {
        background-image: linear-gradient(
                        to top,
                        #A77FDC 100%,
                        #5D01D6 0%
        );
      }
    }
  }
  .button-block {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: 0.6px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    background-color: #000000;
    .block {
      padding: 10px 15px;
      .button {
        font-weight: 700;
        display: flex;
        background-color: #FFFFFF;
        color: #000000;
        justify-content: center;
        text-align: center;
        border-radius: 15px;
        padding: 15px 0;
        width: 100%;
        &.active {
          cursor: pointer;
        }
        &.in-active {
          color: rgba(0, 0, 0, .25);
        }
      }
    }
  }
  .background-block {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    svg {
      width: 100vw;
      max-width: 100vw;
      margin: 0 auto;
      display: block;
    }
  }
  .information-block {
    padding-top: 130px;
    align-items: center;
    text-align: center;
    .title {
      font-weight: 500;
      font-size: 36px;
      padding-bottom: 15px;
      padding-top: 40px;
      line-height: 25px;
    }
    .description {
      font-size: 16px;
      line-height: 15px;
      padding-bottom: 40px;
    }
  }
}