.gift-inventory-card {
  width: 100%;
  border-radius: 12px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }

  .gift-image-container {
    max-width: 112px;
    max-height: 112px;
    .gift-image {
      width: 100%;
      height: 100%;
      border-radius: 20%;
    }
  }

  .gift-info {

    display: flex;
    gap: 8px;
    .gift-name {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 10px;
    }

    .gift-number {
      font-size: 12px;
      text-align: center;
    }
  }
}
