.background-shapes {
  z-index: -1;
  position: fixed;
  inset: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #121212;

  // используем css-переменные
  --c0: #ff00ff;
  --c1: #00ffff;

  .shape {
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
    filter: blur(120px);
    mix-blend-mode: screen;
  }

  // правая верхняя группа
  .shape-1 {
    width: 30vw;
    height: 60vh;
    top: -10vh;
    right: -15vw;
    background: var(--c0);
  }

  .shape-2 {
    width: 25vw;
    height: 50vh;
    top: 0;
    right: -18vw;
    transform: rotate(16deg);
    filter: blur(80px);
    background: var(--c0);
  }

  .shape-3 {
    width: 20vw;
    height: 40vh;
    top: 5vh;
    right: -20vw;
    transform: rotate(32deg);
    filter: blur(65px);
    background: var(--c1);
  }

  // левая группа
  .shape-4 {
    width: 20vw;
    height: 35vh;
    left: -25vw;
    top: 30vh;
    background: var(--c0);
  }

  .shape-5 {
    width: 17vw;
    height: 30vh;
    left: -20vw;
    top: 32vh;
    transform: rotate(-15deg);
    filter: blur(80px);
    background: var(--c0);
  }

  .shape-6 {
    width: 15vw;
    height: 25vh;
    left: -15vw;
    top: 35vh;
    transform: rotate(-30deg);
    filter: blur(65px);
    background: var(--c1);
  }
}
