.search-block-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  display: flex;
  z-index: 10;
  animation: fadeIn 0.3s ease-in-out;

  .loader-content {
    width: 100%;
  }

  .loader-card {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 15px 20px;
    border: 0.6px solid rgba(255, 255, 255, 0.1);

    .loader-search-icon {
      width: 20px;
      height: 20px;
      border-radius: 4px;
    }

    .loader-search-input {
      flex: 1;
      height: 18px;
      border-radius: 4px;
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
