.menu-content {
  padding-top: 7px;
  margin-bottom: 20px!important;
  gap: 10px;
  .pointer {
    cursor: pointer;
  }
  .card {
    color: rgba(255, 255, 255, 0.75);
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .menu-text {
    font-size: 12px;
    line-height: 8px;
    min-height: 8px;
  }
}
