.wallet-content {
  margin-bottom: 20px;

  .card {
    padding: 10px 20px;
  }
  .wallet-info {
    gap: 8px;
  }

  .wallet-info svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }

  .wallet-address {
    color: #b8b8b8 !important;
    font-size: 14px;
    font-weight: 400;
  }

  .wallet {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
  }
}

#ton-connect-button button {
  height: 30px;
}