body {
  background: #000000;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding-top: calc(var(--tg-viewport-safe-area-inset-top) + 30px);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  *, :after, :before, ::backdrop {
    box-sizing: unset;
  }
}
.tgui-cfed40fe81d34ad5 {
  padding: 0;
}
.page {
  max-width: 100%;
  margin: 0 auto; /* центрирование */
  overflow-x: hidden;
  padding: 15px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 15px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 0.6px solid rgba(255, 255, 255, 0.1);
}

.row {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}
.shimmer {
  background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0.2) 50%,
          rgba(255, 255, 255, 0.1) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s ease-in-out infinite;
}


@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}