.inventory-page {
  position: relative;
  padding: 15px 20px;
  background-color: #000000;

  .inventory-container {
    position: relative;
    min-height: 100vh;
  }

  .search-block-wrapper {
    position: relative;
    margin-bottom: 20px;
  }

  .gift-grid-content {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    position: relative;
    z-index: 2;

    .dynamic-bg {
      z-index: -1;
    }
    &.loading {
      .card {
        min-height: 100vh;
        height: 100vh;
      }
    }

    .card {
      display: unset;
      width: 100%;

      .card-header {
        display: flex;
        gap: 20px;
        width: 100%;

        .level {
          font-weight: 500;
          line-height: 10px;
          display: flex;
          gap: 10px;
          align-items: center;
          text-align: center;

          &.believer {
            background-image: linear-gradient(
                            to bottom,
                            #FFFFFF 0%,
                            #5D01D6 200%
            );
          }

          &.supporter {
            background-image: linear-gradient(
                            to bottom,
                            #FFFFFF 0%,
                            #E8AA00 200%
            );
          }

          &.member {
            background-image: linear-gradient(
                            to bottom,
                            #FFFFFF 0%,
                            #FFC628 200%
            );
          }

          &.unranked {
            background-image: linear-gradient(
                            to bottom,
                            #FFFFFF 0%,
                            #4B4345 200%
            );
          }

          color: transparent;
          background-clip: text;
          font-size: 14px;
        }

        .staked-block {
          padding-top: 15px;
          display: flex;
          font-size: 14px;
          justify-content: space-between;
          padding-bottom: 20px;
        }
      }

      .balance {
        font-size: 24px;
        line-height: 20px;
        font-weight: 500;
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }
  }

  .gifts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 112px);
    gap: 10px;
    justify-content: space-between;
    @media (max-width: 520px) {
      grid-template-columns: repeat(auto-fill, 30%);
    }
  }
}