.gift-card {
  gap: 12px;
  img {
    border-radius: 11.5px;
  }
  .description {
    .factor {
      font-size: 16px;
      font-weight: 700;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .speed {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}